[submodule "development/apps/SQLConnector"]
	path = development/apps/SQLConnector
	url = https://github.com/arshad-phpcore/SQLConnector.git
[submodule "development/apps/rex-client-php"]
	path = development/apps/rex-client-php
	url = https://github.com/Rexplanatory/rex-client-php.git
[submodule "development/apps/backend"]
	path = development/apps/backend
	url = https://github.com/arshad-phpcore/backend.git
[submodule "development/apps/rshelves-php"]
	path = development/apps/rshelves-php
	url = https://github.com/Rshelves/rshelves-php.git
