[submodule "development/apps/SQLConnector"]
	path = development/apps/SQLConnector
	url = https://github.com/arshad-phpcore/SQLConnector.git
[submodule "development/apps/rex-client-php"]
	path = development/apps/rex-client-php
	url = https://github.com/Rexplanatory/rex-client-php.git
[submodule "development/apps/backend"]
	path = development/apps/backend
	url = https://github.com/arshad-phpcore/backend.git
[submodule "development/apps/rshelves-php"]
	path = development/apps/rshelves-php
	url = https://github.com/Rshelves/rshelves-php.git
[submodule "development/apps/Ecommerce-Cart-Control"]
	path = development/apps/Ecommerce-Cart-Control
	url = https://github.com/arshad-phpcore/Ecommerce-Cart-Control.git
[submodule "development/apps/Ecommerce-Delivery-Staff"]
	path = development/apps/Ecommerce-Delivery-Staff
	url = https://github.com/arshad-phpcore/Ecommerce-Delivery-Staff.git
[submodule "development/apps/Ecommerce-Order-Control"]
	path = development/apps/Ecommerce-Order-Control
	url = https://github.com/arshad-phpcore/Ecommerce-Order-Control.git
[submodule "development/apps/Location-Controls"]
	path = development/apps/Location-Controls
	url = https://github.com/arshad-phpcore/Location-Controls.git
[submodule "development/Apps/Storage-Control"]
	path = development/Apps/Storage-Control
	url = https://github.com/arshad-phpcore/Storage-Control.git
